.datePrice .calendar{border: 2px solid #67c1fe;width: 100%;background-color: #fff;font-size:12px;font-family:"microsoft yahei";}
.datePrice .calendar .calendar_num{position: relative;height:28px;background: #67c1fe;margin:0px 0px 1px 0px;}
.datePrice .calendar .calendar_num li.bold{font-weight: bold;}
.datePrice .calendar .calendar_num li{float: right;  width: 14.25871%;height: 28px;line-height: 26px;text-align: center;color: #fff;}
.datePrice .calendar .calendar_num li.picker_today{position:absolute;top:0;left:0;cursor:pointer;width:65px;}
.datePrice .calendar ul,.datePrice menu,.datePrice dir{display: block;list-style-type: disc;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.datePrice .calendar ul li,.datePrice ol li{list-style: none;}
.datePrice .calendar .calendar_left{position: relative;width: 100%; height: 40px;border-bottom: 1px solid #ccc;overflow:hidden;text-align: center;color: #1a477e;font-weight: bold;}
.datePrice .calendar .pkg_double_month .date_text{padding:0;height:40px;  width: 100%;position:absolute;margin-top:8px !important;}
.datePrice .calendar .calendar_left .border{border-bottom: 1px solid #eaeaea;}
.datePrice .calendar p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.datePrice .calendar .pkg_circle_top{background: url(../images/left.png) no-repeat;left: 10px;}
.datePrice .calendar .pkg_circle_bottom{background: url(../images/right.png) no-repeat;right: 10px;}
.datePrice .calendar .pkg_circle_top,.datePrice .calendar .pkg_circle_bottom{display: block;position: absolute;top: 5px;width: 25px;padding-top: 25px;height: 0;overflow: hidden;background-size:25px 25px;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.datePrice .calendar .pkg_circle_top:hover,.datePrice .calendar .pkg_circle_bottom:hover{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity: 1;}
.datePrice .calendar .calendar_right{float: left;width: 100%;height:270px;}
.datePrice .calendar table{display: table;border-collapse: collapse;border-spacing: 2px;border-color: gray;}
.datePrice .calendar tbody{display: table-row-group;vertical-align: middle;border-color: inherit;}
.datePrice .calendar tr{display: table-row;vertical-align: inherit;border-color: inherit;}
.datePrice .calendar .calendar_right td{height: 44px;border: 1px solid #eaeaea;border-width: 0 0 1px 1px;vertical-align:top;color: #aaa; width: 14.25871%}
.datePrice .calendar .calendar_right .on{cursor: pointer;}
.datePrice .calendar a{color: #0065bb;text-decoration: none;outline: none;}
.datePrice .calendar .calendar_right a{display: block;height: 40px;color: #aaa;}
.datePrice .calendar .calendar_right .on .date{color: #333;}
.datePrice .calendar .calendar_right .on a:hover{border: 1px solid #febe32;margin: 0px;background-color: #fffbee;}
.datePrice .calendar .calendar_right .date{display: block;}
.datePrice .calendar .calendar_right .today{margin: -1px 0 0 -1px;background-color: #fffbee;}
.datePrice .calendar .calendar_right .on .team{color: #339900;}
.datePrice .calendar .calendar_right .team{display: block;text-align: right;height: 16px;line-height: 16px;}
.datePrice .calendar .calendar_right .on .calendar_price01{color: #ff6000;text-align: right;}
.datePrice .calendar dfn{font-style: normal;font-size: 12px;font-family: Arial !important;}
.datePrice .calendar .calendar_loding img{vertical-align: middle;margin-right: 10px;}
.datePrice .calendar img,.datePrice fieldset{margin: 0;padding: 0;border: 0;}
.datePrice #picker_next {position: absolute;right: 10px;}
.datePrice .am-modal{margin-left:0;width:80% !important;left:10%;top:50%;margin-top:-174px !important;}
.calendar_choose{left:0px;top:0px;}