.datePrice .calendar{border: 1px dotted #f37b1d;width: 100%;background-color: #fff;font-size:12px;font-family:"microsoft yahei";border-radius: 21px;height: 240px;}
.datePrice .calendar .calendar_num{position: relative;height:28px;background: #67c1fe;margin:0px 0px 1px 0px;}
.datePrice .calendar .calendar_num li.bold{font-weight: bold;}
.datePrice .calendar .calendar_num li{float: right;  width: 14.25871%;height: 28px;line-height: 26px;text-align: center;color: #fff;}
.datePrice .calendar .calendar_num li.picker_today{position:absolute;top:0;left:0;cursor:pointer;width:65px;}
.datePrice .calendar ul,.datePrice menu,.datePrice dir{display: block;list-style-type: disc;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.datePrice .calendar ul li,.datePrice ol li{list-style: none;}
.datePrice .calendar .calendar_left{position: relative;top: -20px;margin: 0 auto;width: 30%; height: 35px;background-color: #E98C13;border-radius: 10px;font-size: 16px;overflow:hidden;text-align: center;color: #f5f5f5;}
.datePrice .calendar .pkg_double_month .date_text{padding:0;height:40px;  width: 100%;position:absolute;margin-top:6px !important;}
.datePrice .calendar .calendar_left .border{border-bottom: 1px solid #eaeaea;}
.datePrice .calendar p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.datePrice .calendar .pkg_circle_top{background: url(../images/left1.png) no-repeat;left: 10px;}
.datePrice .calendar .pkg_circle_bottom{background: url(../images/right1.png) no-repeat;right: 10px;}
.datePrice .calendar .pkg_circle_top,.datePrice .calendar .pkg_circle_bottom{display: block;width: 25px;background-size:20px 35px;height: 35px;}
.datePrice .calendar .pkg_circle_top:hover,.datePrice .calendar .pkg_circle_bottom:hover{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity: 1;}
.datePrice .calendar .calendar_right{text-align: center;float: left;width: 100%;}
.datePrice .calendar table{display: table;border-collapse: collapse;border-spacing: 2px;border-color: gray;}
.datePrice .calendar tbody{display: table-row-group;vertical-align: middle;border-color: inherit;}
.datePrice .calendar tr{display: table-row;vertical-align: inherit;border-color: inherit;}
.datePrice .calendar .calendar_right td{line-height: 30px;height: 30px;border-width: 0 0 1px 1px;color: #aaa; width: 10%;position: relative;}
.datePrice .calendar .calendar_right .calendar_th td{color: #1a477e;}
.datePrice .calendar .calendar_right .on{cursor: pointer;}
.datePrice .calendar a{color: #0065bb;text-decoration: none;outline: none;}
.datePrice .calendar .calendar_right a{display: block;color: #aaa;}
.datePrice .calendar .calendar_right .calendar_future{color: #333;}
/* .datePrice .calendar .calendar_right .on a:hover{border: 1px solid #febe32;margin: 0px;background-color: #fffbee;} */
.datePrice .calendar .calendar_right .date{display: block;}
.datePrice .calendar .calendar_right .today{margin: -1px 0 0 -1px;}
.datePrice .calendar .calendar_right .today .today_span{border: 1px solid #E98C13;border-radius: 10px;color: #CC6F6E;width: 80%;margin: 2px 5px 2px 5px;}
.datePrice .calendar .calendar_right .on .team{color: #339900;}
.datePrice .calendar .calendar_right .team{display: block;text-align: right;height: 16px;line-height: 16px;position: absolute;right: -10%;top: 17px;}
.datePrice .calendar .calendar_right .team img{transform: rotate(320deg);height: 23px;}
.datePrice .calendar .calendar_right .on .calendar_price01{color: #ff6000;text-align: right;}
.datePrice .calendar dfn{font-style: normal;font-size: 12px;font-family: Arial !important;}
.datePrice .calendar .calendar_loding img{vertical-align: middle;margin-right: 10px;}
.datePrice .calendar img,.datePrice fieldset{margin: 0;padding: 0;border: 0;}
.datePrice #picker_last {position: relative;left: 15px;}
.datePrice .am-modal{margin-left:0;width:80% !important;left:10%;top:50%;margin-top:-174px !important;}
.calendar_choose{left:0px;top:0px;}
.datePrice .calendar .calendar_right .signIn{background-color: #E98C13;border: 1px solid #E98C13;border-radius: 10px;color: #fff;width: 80%;margin: 2px 5px 2px 5px;}

/*Ç©µ½ÑùÊ½*/
.signInAll{background: url(../images/liuxing.gif) no-repeat;background-size: 100% 100%;height: 260px;}
.signInAll .inCircles{margin: 0 auto;width: 200px;height: 200px;position: relative;/*top: 16%;*/border: 1px solid rgba(0, 0, 0, 0);}
.signInAll .inCircles .q1{position: absolute;top:35px;left:35px;display: none; height:130px;width:130px;}
.signInAll .inCircles .q2{position: absolute;top:15px;left:15px;display: none; height:170px;width:170px;}
.signInAll .inCircles .q3{position: absolute;display: none; height:200px;width:200px;}
.signInAll .signedIn{line-height: 30px;font-size: 18px;margin:45px;text-align:center;color: #fff;width: 110px;height: 110px;font-weight: bold;background: url(../images/an.png)  no-repeat;background-size: 100% 100%;position: absolute;}
.signInAll .signedIn .point{position: relative;top: 27px;}
.signInAll .notSignIn{font-size: 32px;margin:45px;text-align:center;line-height:110px;color: #fff;width: 110px;height: 110px;font-weight: bold;background: url(../images/an.png)  no-repeat;background-size: 100% 100%;position: absolute;}
.signInAll .continuous{color: #fff;text-align:center;position: relative;top: 10%;}

.signInDetails{margin: -4px 15px 0px 15px;}
.signInDetails .signInExplain{color: red;text-align: right;margin: 0px 0px -2px 0px;}
.signInDetails .pointsFor{float: right; width:69%;height: 100px;}
.signInDetails .addUpSignIn{font-size: 14px;padding-top:20px; color: #fff;text-align:center;height: 100px;background: url(../images/riqi.png)  no-repeat;background-size: 100% 100%;width: 30%;}
.signInDate{margin: 26px 15px 15px 15px;position: relative;}


