.btn_1 {
  display: block;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 10px;
  color: #666;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#efefef));
}
.btn_2 {
  display: block;
  width: 150px;
  margin: auto;
  line-height: 35px;
  text-align: center;
  padding: 0 5px;
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f03c03), to(#f03c03));
  border: 1px solid #F03C03;
  border-radius: 20px;
  font-size: 15px;
}
.table_book {
  width: 100%;
}
.table_book td {
  padding: 5px 3px;
  white-space: nowrap;
}
.table_book input[type="text"],
.table_book input[type="tel"],
.table_book textarea {
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dedede;
  outline: none;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-shadow: none;
  /*width: 100%;*/
  /*-webkit-appearance: none;*/
  /*border-color: #dbdbdb;*/
  /*border-radius: 4px;*/
  /*padding: 8px 5px;*/
  /*font-size: 14px;*/
  /*line-height: 26px;*/
  /*border: 0*/
}
.table_book select {
  display: inline-block;
  /*-webkit-appearance:button;*/
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 2px;
  outline: none;
  /*line-height: 28px;*/
  height: 28px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  width: 100%;
  font-family: Helvetica;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
}
.group_radio {
  border: 1px solid #dedede;
  border-radius: 18px;
  display: inline-block;
  overflow: hidden;
}
.group_radio input[type="radio"] {
  -webkit-appearance: button;
  display: inline-block;
  width: 50px;
  height: 35px;
  border-radius: 0;
  border: 0;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
}
.group_radio span {
  position: relative;
  display: inline-block;
  height: 35px;
  width: 50px;
  float: left;
  border-right: 1px solid #ccc;
}
.group_radio span:last-of-type {
  border: 0;
}
.group_radio span:first-child input {
  border-radius: 16px 0 0 16px;
}
.group_radio span:last-child input {
  border-radius: 0 15px 15px 0;
}
.group_radio span label {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: red;
  display: inline-block;
  width: 50px;
  line-height: 35px;
  text-align: center;
  overflow: hidden;
  color: #666666;
  pointer-events: none;
}
.group_radio input[type="radio"]:checked {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f03c03), to(#f03c03));
}
.group_radio input[type="radio"]:checked + label {
  color: #fff;
}
.group_checkbox {
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}
.group_checkbox input[type="checkbox"] {
  -webkit-appearance: button;
  padding: 8px;
  width: 70px;
  border-radius: 16px;
  border: 1px solid #dedede;
  display: inline-block;
  height: 35px;
  background: url(../addons/weisrc_dish/template/images/btn1.png#1), -webkit-gradient(linear, 0 0, 0 100%, from(#f03c03), to(#f03c03));
  background-size: auto 32px, auto auto;
  background-position: right center;
  background-repeat: no-repeat;
}
.group_checkbox input[type="checkbox"]:checked {
  background-position: 0px center;
}
.btn_myorder {
  padding: 5px 8px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  background-color: #F03C03;
  color: #fff;
}
.ddb-nav-header {
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  line-height: 44px;
  z-index: 1999;
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  color: #555555;
}
.ddb-nav-header a {
  color: #555555;
}
.ddb-nav-header .header-title {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  margin-left: 25%;
}
.ddb-nav-header .nav-left-item,
.ddb-nav-header .nav-right-item {
  display: inline-block;
  height: 100%;
}
.ddb-nav-header .nav-left-item i,
.ddb-nav-header .nav-right-item i {
  width: 20px;
  font-size: 18px;
  line-height: inherit;
}
.ddb-nav-header .nav-left-item {
  width: 25%;
  float: left;
  padding-left: 10px;
}
.ddb-nav-header .nav-right-item {
  width: 10%;
  float: right;
  text-align: right;
}
.ddb-nav-header .nav-right-item .operation-button {
  font-size: 16px;
  text-align: right;
  color: #555555;
  padding-right: 10px;
  font-weight: bold;
}
.ddb-nav-header .nav-left-item ~ .header-title {
  margin-left: 0;
}
.ddb-nav-header.label-red {
  border-bottom: 0;
}
.notification-section {
  /*background-color: white;*/
  background-color: #fff9df;
  padding: 0 10px;
  border-bottom: 0px solid #dbdbdb;
}
.notification-section .notice {
  border-top: 1px dotted #eeeeee;
  padding: 8px 0;
  padding-left: 30px;
  line-height: 20px;
}
.notification-section .notice i {
  display: block;
  float: left;
  margin-left: -30px;
  text-align: center;
  width: 30px;
}
#page_intelOrder header,
#page_intelOrder section {
  margin: 0px;
}
.behind {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.behind a.ui-btn {
  width: 68px;
  margin: 0px;
  float: right;
  border: none;
}
.behind a.delete-btn,
.behind a.delete-btn:active,
.behind a.delete-btn:visited,
.behind a.delete-btn:focus,
.behind a.delete-btn:hover {
  color: white;
  background-color: red;
  text-shadow: none;
}
.behind a.ui-btn.pull-left {
  float: left;
}
.behind a.edit-btn,
.behind a.edit-btn:active,
.behind a.edit-btn:visited,
.behind a.edit-btn:focus,
.behind a.edit-btn:hover {
  color: white;
  background-color: orange;
  text-shadow: none;
}
.container {
  padding: 0 !important;
  margin-top: 22px;
}
.myorder .list-item {
  height: 55px !important;
  line-height: 30px !important;
  padding: 7px 10px !important;
}
.myorder .item-img {
  margin-top: -5px !important;
  height: 14px !important;
  width: 12px !important;
}
.myorder .item-txt {
  margin-left: 5px !important;
  height: 20px !important;
  font-size: 14px !important;
}
.myorder .item-detail {
  margin-left: 25px !important;
  color: #999 !important;
  font-weight: 400 !important;
}
.myorder .btn-to-edit {
  position: absolute !important;
  left: 65% !important;
  top: 40% !important;
  background-color: orange !important;
}
.myorder .btn-to-default {
  position: absolute;
  right: 55px !important;
  width: 60px;
  top: 40%;
  background-color: #00aa00;
}
.myorder .btn-to-delete {
  position: absolute;
  right: 0%;
  top: 40%;
  width: 40px !important;
}
.btn-box {
  height: 44px;
  margin: 14px 10px;
  background: #e23a39;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  color: #fff;
}
#page_intelOrder h2 .btn_add {
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
  padding: 0;
}
