<html ng-app="diandanbao" class="ng-scope">
<head>
    <meta charset="utf8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>甲乙丙丁(中餐厅) C002</title>
    <link data-turbolinks-track="true" href="../assets/diandanbao/weixin.css?v=1" media="all"
          rel="stylesheet">
          <!-- 新添加样式 -->
    <link rel="stylesheet" type="text/css" href="css/orderdetail2.css">
	<meta charset="gbk">
</head>
<body>
<div ng-view="" style="height: 100%;" class="ng-scope">
    <div class="ddb-nav-header ng-scope" common-header="">
        <div class="nav-left-item" onclick="javascript :history.back(-1);"><i class="fa fa-angle-left"></i></div>
        <div class="header-title ng-binding">甲乙丙丁(中餐厅) C002</div>
		<div class="nav-right-item" style="margin-right:20px;" onclick=""><i  class="fa fa-phone"></i></div>
    </div>
    <!-- ngInclude:  -->
    <div class="ddb-nav-footer ng-scope" style="text-align:center;">
        

        <span class="button border-blue ng-hide" ng-show="can_complete()" ng-click="complete()">完成</span>
        <span class="button border-red ng-hide" ng-show="can_pay_online()" ng-click="pay_online()">支付</span>
        <span class="button border-blue ng-hide" ng-show="can_append_itemable()" ng-click="go_append_itemable()">追加商品</span>
        <span class="button ng-hide" ng-show="order &amp;&amp; order.pay_item_state=='paid'">已支付</span>
        <span class="button border-green ng-hide" ng-show="can_exchange_code()" ng-click="go_exchange_code()">兑换码</span>
        <span class="button border-red ng-binding  ng-hide" ng-click="hasten()" >催单</span>
        <span class="button border-green ng-binding disable ng-hide">呼叫服务员</span>
        <div class="ng-hide">
        <!--<div>-->
            <hr>
            <span
                class="button border-green ng-binding ng-scope" ng-click="call_waiter(waiter_service_item.name)"
                ng-repeat="waiter_service_item in branch.waiter_service_items">水</span><!-- end ngRepeat: waiter_service_item in branch.waiter_service_items --><span
                class="button border-green ng-binding ng-scope" ng-click="call_waiter(waiter_service_item.name)"
                ng-repeat="waiter_service_item in branch.waiter_service_items">碗筷</span><!-- end ngRepeat: waiter_service_item in branch.waiter_service_items --><span
                class="button border-green ng-binding ng-scope" ng-click="call_waiter(waiter_service_item.name)"
                ng-repeat="waiter_service_item in branch.waiter_service_items">椅子</span><!-- end ngRepeat: waiter_service_item in branch.waiter_service_items -->
            <span class="button border-green" ng-click="call_waiter('其他服务')">其他服务</span>
            <span class="button border-red" ng-click="show_options(false)">取消</span>
        </div>
    </div>
    <div class="main-view order-show ng-scope" id="delivery-order-show">
      
        <div class=" ng-scope">    
       
        <div class="section no-bottom-border">
            <div class="list-item-title"><i class="fa fa-list-alt"></i>订单明细</div>
            <div class="list-item-line">&nbsp;</div>
			<div class="list-item ng-scope addMargin">
                <div class="name ng-binding">
                    糖醋鱼
                </div>
                <div class="quantity-info">
				    ×
                    <span class="quantity ng-binding">1份</span>
                    
                    
                </div>
                <div class="total-info">
                    <span class="price ng-binding">￥23.5</span>
                </div>
            </div>

			<div class="list-item list-item-s ng-scope addMargin">
               <div class="name ng-binding">
                    糖醋鱼
                </div>
                <div class="quantity-info">
				    ×
                    <span class="quantity ng-binding">1份</span>
                    
                    
                </div>
                <div class="total-info">
                    <span class="price ng-binding">￥23.5</span>
                </div>
            </div>
            <div class="list-item-line">&nbsp;</div>

			<div class="list-item ng-scope addMargin">
               <div class="name ng-binding">
                    茶位费
                </div>
                <div class="quantity-info">
				</div>
                <div class="total-info">
                    <span class="price ng-binding">￥4</span>
                </div>
            </div>
			<div class="list-item list-item-s addMargin">
               <div class="name ng-binding">
                    酒水
                </div>
                <div class="quantity-info">
				</div>
                <div class="total-info">
                    <span class="price ng-binding">￥14</span>
                </div>
            </div>
            <div class="list-item addMargin"><div class="name ng-binding">原价：￥23.45 - 优惠 ￥2 </div>

			<div class="total-info" >
			<span >共付</span><span class="price price-wg red ng-binding">￥23.45</span>
            </div>
                  

                   
            </div>
            <div class="list-item-line">&nbsp;</div>

            <div class="list-item ng-scope addMargin">
                <table class="table_book">
                    <tbody>
                    <tr>
                        <td style="width: 80px;">会员卡号</td>
                        <td colspan="2">
                            <input type="tel" id="counts" name="counts" value=""  placeholder="请填写会员卡号">
                        </td>
                    </tr>
                  
                    <tr>
                        <td class="td-l">优惠券</td>
                        <td colspan="2">
                            <select name="remark" id="remark" style="color:#999;">
                                <option value="" style="color:#999;">请选择优惠券</option>
                            </select>
                        </td>
                    </tr>
					<tr>
                        <td class="td-l">付款方式</td>
                        <td colspan="2">
                            <select name="remark" id="remark" style="color:#999;">
                                <option style="color:#999;">请选择付款方式</option>
                            </select>
                        </td>
                    </tr>
					<tr>
                        <td class="td-l">发票抬头</td>
                        <td colspan="2">
                            <input type="text" name="remark" id="remark" maxlength="100" placeholder="请输入备注(可不填)"></input>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
         

        
    </div>
</div>
<div class="xd-box"><a id="btnselect" class="xhlbtn disable" href="javascript:void(0)">下单</a></div>
<script src="./assets/diandanbao/jquery-1.11.3.min.js"></script>
<script>
    functiona confirmorder() {
            var url = "{php echo $this->createMobileUrl('pay', array('orderid' => $order['id']), true)}";
            window.location.href = url;

    }

    function cancelorder() {
        var url = "{php echo $this->createMobileUrl('cancelorder', array('id' => $order['id']), true)}";
        if (confirm("确认取消吗?")) {
            $.ajax({
                url: url, type: "post", dataType: "json", timeout: "10000",
                data: {
                },
                success: function (data) {
                    if (data.status == 1) {
                        location.href='{php echo $this->createMobileUrl('order', array(), true)}';
                    } else {
                        alert(data.msg);
                    }
                },error: function () {
                    alert("网络不稳定，请重新尝试!");
                }
            });
        }
    }
</script>
</body>
</html>