@charset "utf-8";
/* CSS Document */
.goods label{margin: 5px;width: 80px;}
.goods input,.goods select{width: 90px;}
.goods checkbox{width: 50xp;}
.goods .cb label{margin: 5px;width: 80px;}
.goods .cb input{width: 20px;}
.goods .uploadFile{width: 240px;margin-top: 5px;}