@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}
.multiStyle > ul {
  margin: 3% 1%;
}
.multiStyle > ul > li {
  float: left;
  margin-bottom: 5px;
  padding: 28px 0px;
  margin: 3% 3%;
  display: inline-block;
  line-height: 22px;
  height: 90px;
  text-align: center;
  width: 27.3%;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  color: white;
  list-style: none;
}
.multiStyle > ul > li span {
  font-size: 20px;
}
.multiStyle > ul > li div span {
  font-size: 14px;
}
.multiStyle > ul > li.available {
  background-color: #34b87e;
}
.multiStyle > ul > li.used {
  background-color: #fea200;
}
.multiStyle > ul > li.deactive {
  background-color: #c0c0c0;
}
@media screen {
  .smnoscreen {
    display: none;
  }
}
.no{
	text-align: center;
	font-size: 21px;
	color: #999999;
	line-height: 360px;
}
