li{ list-style:none;}
.fr{ float:right;}
.fl{ float:left;}
ul,p{ padding:0; margin:0;}
a{ text-decoration:none; color:#333;}
em,i{ font-style:normal;}
.clearfix:before,.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
body{margin:0; padding:0; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; font-size:14px; color:#333;line-height:24px;word-wrap:break-word;}
.choujcolorbg{ background:#c11e47; height:100%;}
.choujimgbg{background:url(../hotel/images/jiangli.png) no-repeat; background-size:100% 100%; position:relative;margin:20px 0;}
.choujimgbg .prize{font-weight: bold;}
.startbut{background:url(../hotel/images/jiangli_b.png) no-repeat; background-size:100% 100%;width:70px; height:70px; position:absolute;top:25px;left:25px;}
.choujtxt{ background:#FF6251; padding:15px; margin-top:20px; color:#fff; font-size:14px; border-radius:10px; width:90%; margin:20px auto; border:3px solid #FC3; margin-bottom:40px;}
.choujtxt .title{ width:80%; height:45px; background:url(../hotel/images/titlebg.png) no-repeat; background-size:100% 100%; color:#000; margin-left:auto; margin-right:auto; margin-top:-45px;margin-bottom:10px; text-align:center; line-height:45px; }

.choujtxt .txetlist li{ border-bottom:1px dashed #FF9488; line-height:2.6em; }.choujtxt .txetlist li:after{ clear:both; content:""; display:table}.choujtxt .txetlist li{ color:#fff}
.choujtxt .txetlist span.name{ display:inline-block; width:70px; height:28px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;float:left;}
.choujtxt .txetlist .time{ font-size:12px;}
.choujtxt .txetlist .time em{ padding-left:5px}
.choujtxt p{ padding-top:6px;}
.gojiang{ position:fixed; bottom:10px;right:10px; background:url(../hotel/images/go.png) no-repeat; width:80px; height:80px; background-size:80px 80px;}


@media all and (max-device-width:320px){.choujimgbg{ width:310px; height:310px; margin:0 auto;
}
.choujimgbg [class*="j"]{ width:70px; text-align:center; border-radius:60px; color:#C60; line-height:1.2em; padding:2px; font-size:12px;}
.choujimgbg .j1{ position:absolute;left:50px;top:110px;}
.choujimgbg .j2{ position:absolute;left:50px;top:180px;}
.choujimgbg .j3{ position:absolute;right:120px;top:220px;}
.choujimgbg .j4{ position:absolute;top:65px; right:125px;}
.choujimgbg .j5{ position:absolute;top:110px; right:60px;}
.choujimgbg .j6{ position:absolute;top:180px; right:60px;}
.operatingarea{width:120px; height:120px; position:absolute;top:95px;left:90px; z-index:200}
.pointerimg,.pointerimg img{ width:120px;height:120px}
}	
@media all and (min-device-width:321px) {
.choujimgbg{width:350px;height:350px;margin:0 auto;}
.choujimgbg [class*="j"]{width:80px; text-align:center;border-radius:40px; color:#C60; line-height:1.2em; padding:2px; font-size:12px;}
.choujimgbg .j1{ position:absolute;left:60px;top:125px;}
.choujimgbg .j2{ position:absolute;left:60px;top:200px;}
.choujimgbg .j3{ position:absolute;right:140px;top:240px;}
.choujimgbg .j4{ position:absolute;top:70px; right:140px;}
.choujimgbg .j5{ position:absolute;top:125px; right:70px;}
.choujimgbg .j6{ position:absolute;top:200px; right:75px;}
.operatingarea{width:120px; height:120px; position:absolute;top:110px;left:110px; z-index:200}
.pointerimg,.pointerimg img{ width:120px;height:120px}
}


/*抽奖底部工具栏开始*/
.lottery-expl,.winners{ margin-bottom:70px;}
.footer-lottery{width: 100%;position: fixed;bottom: 0;background:#fff; padding:8px 0px 4px; border-top: 1px solid #e1e1e1;}/*height:45px;*/
.footer-lottery .bottom-nav{ width:24%; display:inline-block; text-align:center; color:#666;}
.footer-lottery .icon-home,.footer-lottery .icon-member,.footer-lottery .icon-prize,.footer-lottery .icon-myprize,.footer-lottery .current .icon-home,.footer-lottery .current .icon-member,.footer-lottery .current .icon-prize,.footer-lottery .current .icon-myprize{ width:20px; height:20px; display:block; margin:0 auto;}
.footer-lottery .icon-home{ background:url(../hotel/images/icon_home_default.png) no-repeat;background-size:20px 20px;}
.footer-lottery .icon-member{ background:url(../hotel/images/icon_member_default.png) no-repeat;background-size:20px 20px;}
.footer-lottery .icon-prize{ background:url(../hotel/images/icon_prize_default.png) no-repeat;background-size:20px 20px;}
.footer-lottery .icon-myprize{ background:url(../hotel/images/icon_myprize_default.png) no-repeat;background-size:20px 20px;}
.footer-lottery .current .icon-home{ background:url(../hotel/images/icon_home_selected.png) no-repeat;background-size:20px 20px;}
.footer-lottery .current .icon-member{ background:url(../hotel/images/icon_member_selected.png) no-repeat;background-size:20px 20px;}
.footer-lottery .current .icon-prize{ background:url(../hotel/images/icon_prize_selected.png) no-repeat;background-size:20px 20px;}
.footer-lottery .current .icon-myprize{ background:url(../hotel/images/icon_myprize_selected.png) no-repeat;background-size:20px 20px;}
/*我的奖品开始*/
.myprize .title{ height:45px; line-height:45px; display:block; text-align:center; font-size:16px;color: #fff;background: #DB003D;}
.myprize .member-info{ margin-bottom:10px; background:#fff;margin-left: 5px;padding-top: 10px;}/**border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;*/
.myprize .prize-pop{text-align:center; padding:25px 4px 0; line-height:20px;text-shadow: 0 3px 4px #000, 0px -2px 1px #000000;font-weight: bold;}
.myprize .member-info-list{padding: 0px 10px;}
.myprize .member-name{width:80px;text-align:right; float:left;color: #7B7B7B;}
.myprize .member-r{width:70%;float:left;color:#5C5C5C;}
.myprize .member-remind{float:left;color: #A0A0A0;}
.myprize .remind-r{width:85%;float:left;color:#A0A0A0;}
.myprize .prize-list{background:#fff;}/**border-top:1px solid #e1e1e1;*/
.myprize .prize-bg{background:url(../hotel/images/my_prize_bg.png) no-repeat;color:#fff; background-size:100% 100%; width:80px; height:70px; border-radius: 10px;}
@media screen and (min-device-width:320px) and (max-device-width:374px) {.myprize .prize-bg{width:70px; height:70px;}}
.myprize ul{ padding:10px 0; margin-left:10px; border-bottom: 1px solid #EEEEEE;}
.myprize .btn-use{ border-radius:8px; padding:1px 20px;border: 1px solid #FAB176;  color:#FAB176;position: relative;right: 10px;}
.myprize .text-explanation{ float:left;padding-left:4px; font-size:14px;}
.myprize .text-explanation .time{ padding:0 5px;float:left;}
.myprize .text-explanation .goodsName{color: #393939;}
.myprize .text-explanation .goodsStautsNo{color: #E33A69;}
.myprize .text-explanation .goodsStautsYes{color:#BCBCBC;}
/**@media screen and (min-device-width:320px) and (max-device-width:374px) {.myprize .text-explanation{ width:57%;}.myprize .text-explanation .time{ width:60%;}}*/
/**@media screen and (min-device-width:374px) {.myprize .text-explanation{ width:60%;}.myprize .text-explanation .time{ width:60%;}}*/
.myprize .text-explanation .color-gray{ color:#7d7d7d;  word-wrap:break-word; clear:both;}
.myprize .text-explanation .img-code{ padding-right:10px;}
.myprize .name{ float:left;width:80px; text-align:right;}
.myprize .link{ color:#c11e47}

/*刮刮乐开始*/
.bg-img{ margin:0 auto; width:300px; height:192px;}
.scratch{ margin:0px auto; width:300px; height:50px; border:1px dashed #ccc;}
@media screen and (min-device-width:320px) and (max-device-width:374px){.scratch{width:300px;}.scratch-prize{ width:300px;}.scratch-front img{width:300px;}}
.scratch-prize{position:absolute;background:#fff;width:300px;height:50px;}
@media screen and (min-device-width:375px){.scratch{width:328px;}.scratch-prize{ width:350px;}.scratch-front img{width:350px;}}

.prize-a,.prize-b,.prize-c,.prize-d,.prize-e,.prize-f{padding-left:15px;line-height:50px; font-size:16px; display:none; }
.canvas-back{}
.btn-view{ position:absolute; width:80px; height:30px; line-height:30px; color:#fff; background:#ff8400; text-align:center; border-radius:6px; right:10px;bottom:10px;}
.scratch-explanation{ margin:15px auto 0px; width:94%; padding:16px 0; background:#B11039; color:#ECC7CF; border-radius:10px;}
.prizes-explanation{ margin:0px auto 60px; width:96%; padding:3px 0; color:#ECC7CF; border-radius:10px;}
.scratch-explanation .title{ font-size:23px; color:#fcdc34; padding:0px 20px 15px; margin:0;}/*#F2BD41*/
.scratch-explanation p{ padding:4px 20px;font-size: 16px;}
.prizes-explanation p{ padding:0px 43px;}
.prizes-explanation .title{ font-size:20px; padding:4px 21px; margin:0;}
#js_showPrizes{position: absolute;right: 28px;}

/*派换疃――领恢行*/
.sc-clearfix{border-radius: 5px;background: linear-gradient(to right, #F59202 , #F8345D);height: 90px;margin-right: 10px;}
.myscList ul {padding: 10px 0;margin: 10px;border-bottom: 1px solid #e1e1e1;color: #fff;position: relative;}
.dstime b {background-color:#fff;color: #F8345D;font-weight: bold;}

.myscList .title{ height:45px; line-height:45px; display:block; text-align:center; font-size:16px;}
.myscList .member-info{ margin-bottom:10px; background:#fff;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;}
.myscList .prize-pop{text-align:center; padding:25px 4px 0; line-height:20px;}
.myscList .member-info-list{padding:4px 10px;}
.myscList .member-name{width:70px;text-align:right; float:left;}
.myscList .member-r{width:70%;float:left;color:#7d7d7d;}
.myscList .prize-list{border-top:1px solid #e1e1e1;background:#fff;}
.myscList .prize-bg{background:url(../hotel/images/my_prize_bg.png);color:#fff; background-size:100%; width:80px; height:70px;margin-left: 10px;}
@media screen and (min-device-width:320px) and (max-device-width:374px) {.myscList .prize-bg{width:70px; height:70px;}}
/* .myscList .btn-use{ border-radius:8px; padding:2px 10px; background:#c11e47; margin-top:25px; color:#fff;  margin-right: 10px;} */
.myscList .btn-use{border-radius: 8px;padding: 0 5px;background: #f8f8f8;color: #F8375B;margin-right: 3px;font-size: 12px;font-weight: bold;border: 3px #CD2B2C solid;}/*position: absolute;right: 0px;bottom: 5px;*/
.myscList .text-explanation{ float:left;padding-left:4px; font-size:12px;}
.myscList .text-explanation .time{ padding:0 5px;font-size: 14px;}
@media screen and (min-device-width:320px) and (max-device-width:374px) {.myscList .text-explanation{ width:57%;}.myscList .text-explanation .time{ width:60%;}}
@media screen and (min-device-width:374px) {.myscList .text-explanation{ width:50%;height: 70px;}.myscList .text-explanation .time{ width:60%;}}
.myscList .text-explanation .color-gray{word-wrap:break-word; clear:both;}
.myscList .text-explanation .img-code{ padding-right:10px;}
.myscList .name{ float:left;width:60px; text-align:right;}
.myscList .link{ color:#c11e47}
/*.myscList .process{position: absolute;right: 5px;bottom: 35px;}*/
