<!DOCTYPE html>
<html>
<head>
<title>新增地址</title>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="./assets/diandanbao/wei_canyin_v1.8.4.css?v=1.1.2" media="all">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <!-- 页面样式 -->
        <link rel="stylesheet" type="text/css" href="css/addAddress.css">

    <script src="./assets/diandanbao/jquery-1.11.3.min.js"></script>
<body>

<div id="container">
    <div class="page_topbar">
        <a href="javascript:;" class="back" onclick="history.back()"><i class="fa fa-angle-left"></i></a>
        <div class="title">新增地址</div>
    </div>

<div id="container">
    <div class="address_main">
        <input type="hidden" id="addressid" value="">
		<input type="hidden" id="spuid" value="3074">
        <div class="line"><input type="text" placeholder="姓名" id="realname" value=""></div>
        <div class="line"><input type="text" placeholder="联系电话" id="mobile" value=""></div>

            <script type="text/javascript" src="./assets/diandanbao/area.js"></script>
            <script type="text/javascript">_init_area();</script>
	 	 
        <div class="line"><input type="text" placeholder="地址" id="address" value=""></div>
    </div>

    <div class="address_sub1"  onclick="copyText()" >确认添加</div>
    <div class="address_sub2"      onclick="showLoader()">取消</div>
</div>
<br>
<div id="toastId2" class="toasttj2" style="display: none; opacity: 0;"></div>
<div id="BgDiv1"></div>
<div class="U-login-con">
            	<div class="DialogDiv"  style="display:none; ">
                    <div class="U-guodu-box">
                    <div>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" >
        
                        <tr><td  valign="middle" align="center" >???????????</td></tr>
                    </table>
                    </div>
            	</div>
     		</div>
          <div class="cl"></div>
</div>     
</div>  
</body>

<!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script language="javascript" src="./assets/diandanbao/jquery.gcjs.js"></script>
<script language = "javascript">
funtion copyText(){
  
}

</script>
</html>