<html lang="zh-CN"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<title>地址列表</title>
<link rel="stylesheet" type="text/css" href="./assets/diandanbao/wei_canyin_v1.8.4.css?v=1.1.2" media="all">
<link data-turbolinks-track="true" href="./assets/diandanbao/font.css?v=1" media="all" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./assets/diandanbao/wei_canyin_v1.8.4.css?v=1.1.2" media="all">
<script src="./assets/diandanbao/jquery-1.11.3.min.js"></script>

<!-- 页面样式 -->
<link rel="stylesheet" type="text/css" href="css/addressList.css">

</head>
<body id="page_intelOrder" class="myOrderCon">
<div class="ddb-nav-header ng-scope">
    <a class="nav-left-item" href="javascript:void(0)" onclick="history.go(-1)"><i class="fa fa-angle-left"></i></a>
    <div class="header-title ng-binding">地址列表</div>
    <a class="nav-right-item" href="#"></a>
</div>
<div class="center container">    
	<section>
        <article>
			 <ul class="myorder" id="list">
           
                <li class="list-item">
                    
                    <img src="./images/icon_add.png" class="item-img"/>
                    <span class="item-txt">中心工业园二号岗 一栋六楼（默认）</span><span style="color:orange">（默认）</span>
                    <div class="item-detail">
                      <span>XXX先生</span>
                      <span>13312345678</span> 
                    </div>
					
                   <h2><button  addressID = "1" class="btn_add btn_setdefault btn-to-default" onclick="location.href='">设为默认</button></h2>
				   <!-- <h2><button class="btn_add btn-to-edit" onclick="location.href='">编辑</button></h2> -->
                  <h2><button class="btn_add delete-btn btn-to-delete" onclick="location.href='">删除</button></h2>
					
                </li>
				<li class="list-item">
                    
				    <img src="./images/icon_add.png" class="item-img"/>
                    <span class="item-txt">中心工业园二号岗 一栋六楼</span>
                    <div class="item-detail">
					  <span>XXX先生</span>
					  <span>13312345678</span>
					</div>
                   <!-- <h2><button class="btn_add btn-to-edit" onclick="location.href='">编辑</button></h2> -->
				   <h2><button class="btn_add delete-btn btn-to-delete" onclick="location.href='">删除</button></h2>
					
                </li>
				<li class="list-item">
                    

				    <img src="./images/icon_add.png" class="item-img"/>
                    <span class="item-txt">中心工业园二号岗 一栋六楼</span>
                    <div class="item-detail">
					  <span>XXX先生</span>
					  <span>13312345678</span>
					</div>
                   <!-- <h2><button class="btn_add btn-to-edit" onclick="location.href='">编辑</button></h2> -->
				   <h2><button class="btn_add delete-btn btn-to-delete" onclick="location.href='">删除</button></h2>
					
                </li>
				<li class="list-item">
				    <img src="./images/icon_add.png" class="item-img"/>
                    <span class="item-txt">中心工业园二号岗 一栋六楼</span>
                    <div class="item-detail">
					  <span>XXX先生</span>
					  <span>13312345678</span>
					</div>
                   <!-- <h2><button class="btn_add btn-to-edit" onclick="location.href='">编辑</button></h2> -->
				   <h2><button class="btn_add delete-btn btn-to-delete" onclick="location.href='">删除</button></h2>
					
                </li>
				
               
            </ul>

        </article>
    </section>
    <div class="btn-box">
	   <a href="#" style="color:white;">增加</a>
	</div>
        

    
</div>

  
</script>
<script>
$(function() {
    function prevent_default(e) {
        e.preventDefault();
    }
    function disable_scroll() {
        $(document).on('touchmove', prevent_default);
    }
    function enable_scroll() {
        $(document).unbind('touchmove', prevent_default)
    }
    var x;
    $('#list li > a')
        .on('touchstart', function(e) {
            console.log(e.originalEvent.pageX)
            $('.swipe-delete li > a.open').css('left', '0px').removeClass('open') // close em all
            $(e.currentTarget).addClass('open')
            x = e.originalEvent.targetTouches[0].pageX // anchor point
        })
        .on('touchmove', function(e) {
            var change = e.originalEvent.targetTouches[0].pageX - x
            change = Math.min(Math.max(-100, change), 100) // restrict to -100px left, 0px right
            e.currentTarget.style.left = change + 'px'
            if (change < -10) disable_scroll() // disable scroll once we hit 10px horizontal slide
        })
        .on('touchend', function(e) {
            var left = parseInt(e.currentTarget.style.left)
            var new_left;
            if (left < -35) {
                new_left = '-100px'
            } else if (left > 35) {
                new_left = '100px'
            } else {
                new_left = '0px'
            }
            // e.currentTarget.style.left = new_left
            $(e.currentTarget).animate({left: new_left}, 200)
            enable_scroll()
        });

	$('.delete-btn').click(function(){
	  var obj = $(this);
	  MDialog.confirm('','是否删除该地址？',null,'确定',function(){
        $(obj).parents('li').remove()
        })
	 
	});
	
    $('.btn_setdefault').click(function(){
	  var obj = $(this);
	  alert("设置默认地址成功"+ $(this).attr("addressid"));
	});
	
	
});
</script>
</body>
</html>