<html lang="zh-CN"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<title>全部菜肴</title>
<link data-turbolinks-track="true" href="http://tiantianwutuo.top/addons/weisrc_dish/template//mobile/style1/assets/diandanbao/weixin.css?v=1 " media="all" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./assets/diandanbao/wei_canyin_v1.8.4.css?v=1.1.1" media="all">
<link rel="stylesheet" type="text/css" href="./assets/diandanbao/banner.css?v=1.1.1" media="all">
<link rel="stylesheet" type="text/css" href="http://tiantianwutuo.top/addons/weisrc_dish/template/css/1/wei_dialog_v1.2.1.css?v=1.1" media="all">
<link data-turbolinks-track="true" href="http://tiantianwutuo.top/addons/weisrc_dish/template/mobile/style1/assets/diandanbao/font.css?v=1" media="all" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/list.css">
<style>
    /*解决右边背景总是为灰色的bug*/
    #page_allMenu section article, #pInfo {
        min-height: 100%;
    }
</style>

<script type="text/javascript" src="http://tiantianwutuo.top/addons/weisrc_dish/template/js/1/wei_webapp_v2_common_v1.9.4.js"></script>
<script type="text/javascript" src="http://tiantianwutuo.top/addons/weisrc_dish/template/js/1/wei_dialog_v1.9.9.js"></script>
<script type="text/javascript" src="http://tiantianwutuo.top/webpage/assets/diandanbao/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./assets/diandanbao/unslider.min.js"></script>
</head>
<body id="page_allMenu" style="background-color: #fff;height:100%">

<div class="ddb-nav-header ng-scope">
    <a class="nav-left-item" href="javascript:void(0)" onclick="clearAndGoBack()"><i class="fa fa-angle-left"></i></a>
    <div class="header-title ng-binding">餐厅1</div>
    
</div>


         <div class="" style="padding-top:48px">
         <div class="ddb-tab-bar ">
            <div class="ddb-tab-item ng-scope active">
                <a style="font-size:18px" href="javascript:;" class="" id="store_classify">点餐</a>
               
            </div>
            <div class="ddb-tab-item ng-scope">
                <a style="font-size:18px"  href="javascript:;" class="ng-binding">评论</a>
            </div>
            <div class="ddb-tab-item ng-scope" ng-repeat="pane in panes" ng-class="{active:pane.selected}"
                 ng-click="toggle(pane)">
                <a  style="font-size:18px" href="javascript:;" class="ng-binding">商家</a>
            </div>
        </div>
		</div>
<div class="main" >
    <nav id="navBar">
        <dl>
            

                <div class="navOption" href="#page1"><dd categoryid="1" class="active">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
					<p>分类1</p>                    
                    <span style="display:none;"></span>
                </dd>
				</div>
				<div class="navOption" href="#page2">
                <dd categoryid="2" >
                    <p>分类2 </p>                   
                    <span style="display:none;"></span>
                </dd>
				</a>
				<div class="navOption" href="#page3">
                <dd categoryid="3" >
                    <p>分类23</p>                   
                    <span style="display:none;"></span>
                </dd>
				</div>
				<div class="navOption" href="#page4">
                <dd categoryid="4" >
                    <p>套餐  </p>                 
                    <span style="display:none;"></span>
                </dd>
				</div>
				

        </dl>
        <div style="margin-top: 100px;"></div>
    </nav>
    <section id="infoSection" onscroll="dishScroll()">
        <article style="border: 0px">
            <div id="pInfo">
                <div class="pTitle" id="page1">分类1</div>
                <dl class="pContent" dunitname="份" dsubcount="123" dishid="1" dname="鱼" dtaste="口味" ddescribe="菜品描述<br/>TEST<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2<br/>TEST2" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
 
					</dd>
                    <dd class="btn">
					   <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
              <dl class="pContent" dunitname="份" dsubcount="123" dishid="2" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
					
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="3" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
				
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="4" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
					
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="5" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
					
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="6" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
				
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="7" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
				
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<div class="pTitle" id="page2">分类2</div>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="8" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
				
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="9" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
			
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="10" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
			
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="11" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
				
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="12" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
		
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="13" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
		
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<div class="pTitle" id="page3">分类3</div>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="14" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					
	
					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent" dunitname="份" dsubcount="123" dishid="15" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					

					</dd>
                    <dd class="btn">
					    <img src="images/minusdish.png" class="minusDish" alt="" style="display:none">
					    <num style="display:none">333</num>	
                       <img src="images/plusdish.png" class="addDish" alt="">
                    </dd>
                </dl>
				<dl class="pContent"
				multiStyle="[{'id':1,'name':'规格',data:[{'id':1,'name':'小份'},{'id':2,'name':'大份'}] },
				{'id':2,'name':'做法',data:[{'id':1,'name':'清蒸'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
				                            ,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											] },
                {'id':3,'name':'其它',data:[{'id':1,'name':'少辣'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
				                            ,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											,{'id':2,'name':'红烧'},{'id':2,'name':'红烧'},{'id':2,'name':'红烧'}
											] }											
				]" 
				isMultiStyle=1 dunitname="份" dsubcount="123" dishid="16" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>鱼鱼</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">

					</dd>
                    <dd class="btn">
					<a class="dishstyle" href="javascript:void(0);">可选规格</a>
                    <numsmall style="display:none">2</numsmall>    
                    </dd>
                </dl>
				<div class="pTitle" id="page4">套餐</div>
				<dl class="pContent"
				setData="[[{'id':1,'grade':1,'name':'菜菜菜菜1','style':{'name':'规格',data:[{'id':1,'name':'红烧'},{'id':2,'name':'油炸'}]}},{'id':2,'grade':1,'name':'菜菜菜2'},{'id':3,'grade':1,'name':'菜菜菜菜3'}],
				          [{'id':4,'grade':2,'name':'菜菜菜菜4'},{'id':5,'grade':2,'name':'菜菜菜5'},{'id':6,'grade':2,'name':'菜菜菜菜6'}],
						  [{'id':7,'grade':3,'name':'菜菜菜菜7'},{'id':6,'grade':3,'name':'菜菜菜8'},{'id':9,'grade':3,'name':'菜菜菜菜9'}]]"
				isSet=1 dunitname="份" dsubcount="123" dishid="17" dname="鱼" dtaste="口味" ddescribe="菜品描述" dmarkNum="45" dprice="123.4" dishot="2" dspecialprice="100.3" disspecial="是否特价" shopinfo="" style="padding-left:60px;">
                    <dt><h3>套餐</h3></dt>
					
                    <dd>
                        <a href="javascript:void(0)" class="dataIn">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493566188&di=e7a64fe7aaeeb46b2c121c3a26956012&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.sxxdf.cn%2Fuploads%2Fallimg%2F120430%2F1-12043009344X31.jpg" alt="" title="">
                            
                            <span></span>
                            
                        </a>
                    </dd>
					<span class="dishSecondTitle">月售 26 份 | 好评率 100%</span>
                    <dd class="dishDetailInfo">
                        <em class="sale">￥123</em><del>￥1239</del>  
						
                    </dd>
                    <dd class="dpNum">
					

					</dd>
                    <dd class="btn">
					<a class="dishstyle" href="javascript:void(0);">可选规格</a>
                    <numsmall style="display:none">2</numsmall>       
                    </dd>
                </dl>
                <div class="botLine"></div>
            </div>
        </article>
    </section>
</div>

<div class="shopInfoList dn">
<div class="notification-section" style="width:100% !important;padding:0 0px;">
    <div class="banner" style="padding:0 0px !important">
	  <ul>
	    <li><img style="width:100%;" src="http://www.jq22.com/demo/jquery-lunbotu-150202204549/images/pic_01.jpg"/></li>
		<li><img style="width:100%;" src="http://www.jq22.com/demo/jquery-lunbotu-150202204549/images/pic_02.jpg"/></li>
		<li><img style="width:100%;" src="http://www.jq22.com/demo/jquery-lunbotu-150202204549/images/pic_03.jpg"/></li>
	  </ul>
      
    </div>
</div>

<ul style="margin-left:28px;width:100%">
 <li style="list-style-type:none;"><img src="./images/sales.png"/><span >月售 811 份</span></li>
 <li style="list-style-type:none;"><img src="./images/timer.png"/><span >09:30-21:00</span></li>
 <li style="list-style-type:none;height:41px"><img style="float:left;margin-top:14px" src="./images/position.png"/>
 <script>var width= window.innerWidth-54;document.write('<span style="float:left;width:'+ width+'px">');</script>
 深圳市南山区</span></li>
 <li style="list-style-type:none;clear:both"><img src="./images/tel.png"/><span >0755-33331111</span><a href="tel://0755-33331111"><i class="fa fa-angle-right"></i></a></li>
</ul>
</div>
<div class="mModal1" style="position:fixed;width:100%;z-index: 901;height:100%;display:none;top:0;background-color:rgba(0, 0, 0, .5)"><a href="javascript:void(0)" style="height: 736px;"></a></div>
<div class="popupWindow" style="z-index:9999;display:none">
 <img class="close" src="images/close.png" style="z-index:901"/>
 <div id="popContent"></div>
</div>

{php include $this->template($this->cur_tpl.'/_header');}
<script type="text/javascript"> 
   var totalPrice= 0;
   var totalCount = 0;
   var allDishObject = Array();
   var allDishCategoryList = {};
   
        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                } else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }
   $('.ddb-tab-item').eq(0).click(function(){
     $('.ddb-tab-item').removeClass('active');
	 $(this).addClass('active');
     $('.main').removeClass('dn');
	 $('.shopInfoList').addClass('dn');
   });
   var isBannnerInit = 0;
   $('.ddb-tab-item').eq(2).click(function(){
     $('.ddb-tab-item').removeClass('active');
	 $(this).addClass('active');
     $('.main').addClass('dn');
	 $('.shopInfoList').removeClass('dn');
	 if(0 == isBannnerInit)
	 $('.banner').unslider({			
				keys: true,
				dots: true
			});
	isBannnerInit = 1;		
	 
   });
   $(".navOption").click(function() {
      $('.navOption dd').removeClass("active");
	  $(this).children('dd').addClass('active');
      $("#infoSection").animate({
        scrollTop: $($(this).attr("href")).offset().top - $("#" + $('.pTitle').eq(0).attr('id')).offset().top +"px"
      }, {
        duration: 300,
        easing: "swing"
      });
      return false;
    });
	$('.dishstyle').click(function(){
	  $(this).parent().parent().children('.btn').children('.addDish').click();
	});
    var addBtn = _qAll('.addDish,.dishstyle');
	var minusBtn = _qAll('.minusDish');
	var addBtnLength = addBtn.length;
	var minusLength = minusBtn.length;
	function addMinusNormalDish(dishId,sign)
    {
     var dishInfo = eval('('+ localStorage.getItem(dishId) + ')');
	 var currentDishCount ;
     for(var i in allDishObject)
     {
      if(Object.keys(allDishObject[i])[0]==dishId )
      {
	  if(allDishObject[i][dishId]  == 0 || allDishObject[i][dishId]==undefined)
	   return 0;
       if(dishInfo['style'] == 'normal')
       {
       allDishObject[i][dishId] += sign;
	   currentDishCount = allDishObject[i][dishId];
       if(allDishObject[i][dishId]  == 0)
        allDishObject.splice(i, 1);
       }
       else
        allDishObject.splice(i, 1);
      }
     }
	 var dishCategory = dishInfo.category;
     allDishCategoryList[dishCategory] += sign;
     if(allDishCategoryList[dishCategory]  == 0)
       delete allDishCategoryList[dishCategory];
     totalCount+=sign;
     totalPrice += sign*(dishInfo['price']);
     refreshCategoryPrice(allDishCategoryList , allDishObject,totalCount ,totalPrice);
	 return currentDishCount;
   }
	for(var i=0;i<addBtnLength;i++)
	{
	addBtn[i].addEventListener(_moveendEvt,function(){
	
	 //load dish style
	 var parentDl = this.parentNode.parentNode;
	 var dPrice = parentDl.getAttribute('dPrice');
	 var isMultiStyle = parentDl.getAttribute('isMultiStyle'); //是否多规格
	 var isSet = parentDl.getAttribute('isSet');               //是否套餐
	 var dishName = parentDl.getAttribute('dname'); 
	 var dishUnit = parentDl.getAttribute('dunitname'); 
	 var dishId = parentDl.getAttribute('dishid');
	 var dishCategoryPage = $(this).parent().parent().prevAll('div').attr('id')
	 var dishCategory = $('#navBar>dl').find('div[href="#'+dishCategoryPage+'"]').children('dd').attr('categoryId');
	 var html='';
	 var localStorageObj = {};
	 localStorageObj['id'] = dishId;
	 localStorageObj['price'] = dPrice;
	 localStorageObj['unit'] = dishUnit;
	 localStorageObj['name'] = dishName;
	 localStorageObj['category'] = dishCategory;
	 if(1 == isSet)
	 {
	   localStorageObj['style'] = 'set';
	   localStorageObj['data'] = parentDl.getAttribute('setData').replace(/[\r\n]/g,"");
	   var setData = eval('('+ parentDl.getAttribute('setData') + ')');
	   var setDishLength = setData.length;
	   var setTemplate = '<div class="setStyle"><img class="leftArrow" src="./images/right_left_arrow.png"><span class="settitle">{0}</span><img class="rightArrow" src="./images/right_right_arrow.png">{1}<div style="width:100%;height:40px;top:50%;"><img class="leftArrow middle" src="./images/right_left_arrow.png"><img class="rightArrow middle" src="./images/right_right_arrow.png"></div></div>';
	   
	   $(setData).each(function(i,n){
	      var baseHtml = '';
		  
   	      $(n).each(function(ii,nn){
		    if(typeof(nn.style) !='undefined')
		    baseHtml += '<li attrid="{0}" grade="{3}" styleData=\'{2}\'>{1}</li>'.format(nn.id,nn.name,JSON.stringify(nn.style),nn.grade);
			else
			baseHtml += '<li attrid="{0}" grade="{2}">{1}</li>'.format(nn.id,nn.name,nn.grade);
		 });
		 baseHtml = '<ul>{0}</ul>'.format(baseHtml);
		 
		 html += setTemplate.format('第'+parseInt(i+1)+'道菜', baseHtml);
	   });
	   html += '<img class="bottom-rmb" src="./images/rmb.png"/>';
	   html += '<span class="bottom-price">{0}</span>'.format(dPrice);
	   html += '<img class="bottomright-button addToList" src="./images/dish_addMenu.png"/>';
	   html += '<input id="dishId" type="hidden" value="{0}" />'.format(dishId);
	   html += '<input id="dishCategory" type="hidden" value="{0}" />'.format(dishCategory);
	   $('#popContent').html(html);
	   $('.addToList').click(function(){
	      //alert('ok');
		  var setDishList = Array();
		  var ulLength = $(this).parent().children('.setStyle').length;
		  var parentNode = $(this).parent();
		  for(var i=0;i<ulLength ;i++)
		  {
		    if(parentNode.children('.setStyle').children('ul').eq(i).children('.redborder').length == 0)
			 {
			  var dishName = parentNode.children('.setStyle').children('.settitle').eq(i).text();
			  alert(dishName + '未选择，请选择')
			  return;
			 }
			else
             {
			  var selectedDish = parentNode.children('.setStyle').children('ul').eq(i).children('.redborder');
			  var subDishId = selectedDish.attr('attrid');
			  var grade = selectedDish.attr('grade');
			  var obj = {id:subDishId,grade:grade};
			  if(selectedDish.attr('selectStyle') != undefined)
			  {
			   obj.style = selectedDish.attr('selectStyle')
			  }
			  setDishList.push(obj);
			 }			
		  }
		  //save set id setdishes id
		  var dishId = $(this).parent().children('#dishId').val();
		  totalPrice += parseFloat(dPrice);
		  totalCount += 1;
		  allDishCategoryList[dishCategory] = undefined != allDishCategoryList[dishCategory]?allDishCategoryList[dishCategory]+1:1;
		  var obj = {};
		  obj[dishId] = setDishList;
		  allDishObject.push(obj);
		  refreshCategoryPrice(allDishCategoryList , allDishObject, totalCount ,totalPrice);
		  $('.popupWindow .close').click();
	   })
	   
	   $('.setStyle').addClass('dn');
	   $('.setStyle').eq(0).removeClass('dn');
	   $('.mModal1,.popupWindow').show();
	   $('.setStyle ul li').click(function(){
	    $(this).parent().children('li').removeClass('redborder');
		if($(this).attr('styledata') == undefined)
		 $(this).addClass('redborder');
		else
         {
		   //show style selection dialog
		   var stylePopup = $('.popupWindow').clone();
		   stylePopup.children('#popContent').html('');
		   
		   // add style data
		   var multiStyleTemplate = '<div class="multiStyle"><div class="stitle"><span>{0}</span></div>{1}</div>';
	       var multiStyleBaseTemplate = '<div class="subtitle" attrid="{2}">{0}</div>{1}';
	       var multiStyle = eval('('+ $(this).attr('styledata') + ')');
		   var html = '';
	       $(multiStyle).each(function(i,n){
	       var baseHtml = '';
		  
   	         $(n.data).each(function(ii,nn){
		       baseHtml += '<li attrid="{0}"  >{1}</li>'.format(nn.id,nn.name);
		     });
		   baseHtml = '<ul>{0}</ul>'.format(baseHtml);		 
		   html += multiStyleBaseTemplate.format(n.name, baseHtml,n.id);
	      });
		   html += '<button class="bottomright-button confirmBtn">确定</button>';
		   stylePopup.children('#popContent').html(multiStyleTemplate.format('',html));
		   //bind event
		   stylePopup.children('.close').click(function(){
		     $(this).parent().remove();
		   });
		   stylePopup.find('li').click(function(){
		     $(this).parent().children('li').removeClass('redborder');
		     $(this).addClass('redborder');
		   });
		   var currentDish = this;
		   stylePopup.find('.confirmBtn').click(function(){
		     var ulLength = $(this).parent().children('ul').length;
		     var parentNode = $(this).parent();
		     var dishStyleList = {};
			 var dishStyleAllSelected = true;
		     for(var i=0;i<ulLength ;i++)
		     {
		      if(parentNode.children('ul').eq(i).children('.redborder').length == 0)
			   {
			    var dishName = parentNode.children('.subtitle').eq(i).text();
			    alert(dishName + '未选择，请选择')
			    return;
			   }
			   else
			   {
			    var subStyle = parentNode.children('ul').eq(i).children('.redborder').attr('attrid');
		  	    //var styleId = parentNode.children('.subtitle').eq(i).attr('attrid');
			    dishStyleList[1] = subStyle;
			   }
		     }
			 //add style list to upper li
			 $(currentDish).attr('selectStyle',JSON.stringify(dishStyleList));
			 $(currentDish).parent().children('li').removeClass('redborder');		         
	   	     $(currentDish).addClass('redborder');			    
		     $(this).parent().parent().parent().remove();
		   });
		   $('#page_allMenu').append(stylePopup);
		   
		 }		
	   });
	   function getCurrentSetIndex()
	   {
	    var currentIndex = -1;
		
		$('.setStyle').each(function(i,n){
		  if(!$(n).hasClass('dn'))
		   {
		    currentIndex = i;
			return false;
		   }
		});
		return currentIndex;
	   }
	   $('.setStyle .leftArrow').click(function(){
		var index = getCurrentSetIndex()
		if(index == 0)
		 {
		  alert('已经是第1道菜了');
		  return;
		 }
	    $('.setStyle').addClass('dn');
		$('.setStyle').eq(index-1).removeClass('dn');
	   });
	   $('.setStyle .rightArrow').click(function(){
	    var index = getCurrentSetIndex()
		if(index == $('.setStyle').length-1)
		 {
		 alert('已经是最后一道菜了');
		 return;
		 }
	    $('.setStyle').addClass('dn');
		$('.setStyle').eq(index+1).removeClass('dn');
	   });
	 }
	 else if(1 == isMultiStyle)
	 {
	   localStorageObj['style'] = 'multi';
	   localStorageObj['data'] = parentDl.getAttribute('multiStyle').replace(/[\r\n]/g,"");
	   var multiStyleTemplate = '<div class="multiStyle"><div class="stitle"><span>{0}</span></div>{1}</div>';
	   var multiStyleBaseTemplate = '<div class="subtitle" attrid="{2}">{0}</div>{1}';
	   var multiStyle = eval('('+ parentDl.getAttribute('multiStyle') + ')');
	   $(multiStyle).each(function(i,n){
	      var baseHtml = '';
		  
   	      $(n.data).each(function(ii,nn){
		    baseHtml += '<li attrid="{0}"  >{1}</li>'.format(nn.id,nn.name);
		 });
		 baseHtml = '<ul>{0}</ul>'.format(baseHtml);
		 
		 html += multiStyleBaseTemplate.format(n.name, baseHtml,n.id);
	   });
	   html += '<img class="bottom-rmb" src="./images/rmb.png"/>';
	   html += '<span class="bottom-price">{0}</span>'.format(dPrice);
	   html += '<img class="bottomright-button addToList" src="./images/dish_addMenu.png"/>';
	   html += '<input id="dishId" type="hidden" value="{0}" />'.format(dishId);
	   html += '<input id="dishCategory" type="hidden" value="{0}" />'.format(dishCategory);
	   $('#popContent').html(multiStyleTemplate.format(dishName,html))
	    $('.addToList').click(function(){
	       var ulLength = $(this).parent().children('ul').length;
		   var parentNode = $(this).parent();
		   var dishStyleList = {};
		   for(var i=0;i<ulLength ;i++)
		   {
		    if(parentNode.children('ul').eq(i).children('.redborder').length == 0)
			 {
			  var dishName = parentNode.children('.subtitle').eq(i).text();
			  alert(dishName + '未选择，请选择')
			  return;
			 }
			 else
			 {
			  var subStyle = parentNode.children('ul').eq(i).children('.redborder').attr('attrid');
			  var styleId = parentNode.children('.subtitle').eq(i).attr('attrid');
			  dishStyleList[styleId] = subStyle;
			 }
		   }
		   var dishId = $(this).parent().children('#dishId').val();
		   totalCount += 1;
		   totalPrice += parseFloat(dPrice);
		   allDishCategoryList[dishCategory] = undefined != allDishCategoryList[dishCategory]?allDishCategoryList[dishCategory]+1:1;
		   
		   var obj = {};
		   obj[dishId] = dishStyleList;
		   allDishObject.push(obj);
		   
		   refreshCategoryPrice(allDishCategoryList , allDishObject,totalCount ,totalPrice);
		   $('.popupWindow .close').click();
	   })
	   //TODO:addListener
	   $('.mModal1,.popupWindow').show();
	   $('.multiStyle ul li').click(function(){
	    $(this).parent().children('li').removeClass('redborder');
		$(this).addClass('redborder');
	   });
	   
	 }
	 else //normal dish
	 {
	 
	   localStorageObj['style'] = 'normal';
	   totalPrice += parseFloat(dPrice);
	   totalCount += 1;
	   var isFindDish = false;
	   for(var i=0;i<allDishObject.length;i++)
	   {
	    if(Object.keys(allDishObject[i])[0] == dishId)
	    {
	     isFindDish = true;
	     allDishObject[i][dishId] ++;
	     break;
	    }
	   }
	   if(false == isFindDish)
	   {
	   var obj = {};
	   obj[dishId] = 1;
	   allDishObject.push(obj);
	   }
	   
	   allDishCategoryList[dishCategory] = undefined != allDishCategoryList[dishCategory]?allDishCategoryList[dishCategory]+1:1;
	   localStorage.setItem(dishId,JSON.stringify(localStorageObj));
	   refreshCategoryPrice(allDishCategoryList , allDishObject,totalCount ,totalPrice);
	 }
	 localStorage.setItem(dishId,JSON.stringify(localStorageObj));
	})
	
	}
	var canMinus = true;
	for(var i=0;i<minusLength;i++)
	{
	 minusBtn[i].addEventListener(_moveendEvt,function(){
	 if(!canMinus)
	  return;
	 canMinus = false;
	 var parentDl = this.parentNode.parentNode;
	 var dPrice = parentDl.getAttribute('dPrice');
	 var dishId = parentDl.getAttribute('dishid');
	 var dishCategoryPage = $(this).parent().parent().prevAll('div').attr('id')
	 var dishCategory = $('#navBar>dl').find('div[href="#'+dishCategoryPage+'"]').children('dd').attr('categoryId');
	 var currentDishCount = addMinusNormalDish(dishId,-1);
	 if(0 == currentDishCount)
	 {
	  $(this).fadeOut(0);
	  $(this).siblings('num').fadeOut(0);
	 }
	 canMinus = true;
	})
	}
	function refreshCategoryPrice(categoryList,dishList,totalcount,totalprice)
	{
	 $('.navOption').find('dd').children('span').text('').css('display','none');
	 for(var i in categoryList) {
	  $('.navOption').find('dd[categoryid='+i+']').children('span').css('display','inline-block').text(categoryList[i]);
	 }
	 // set cookies
	 var styleSetDishCount = {};
	 $(dishList).each(function(i,n){
		 var dishId = Object.keys(n)[0];
		 var dishInfo = eval('(' + localStorage.getItem(dishId) + ')');
		 var obj = $('#pInfo').find('dl[dishid='+dishId+']');
		 switch(dishInfo['style'])
		 {
		  case 'normal':		           
				   obj.children('.btn').children('num').text(n[dishId]);
		           obj.children('.btn').children('num').fadeIn(0);
				   obj.children('.btn').children('.minusDish').fadeIn(0);
				   break;
		  case 'multi':
		  case 'set':
		           styleSetDishCount[dishId] = (undefined == styleSetDishCount[dishId])?1:1+styleSetDishCount[dishId];
				   obj.children('.btn').children('numsmall').text(styleSetDishCount[dishId] );
		           obj.children('.btn').children('numsmall').fadeIn(0);
				   break;
				   
                   		  
		 }
	 });
	 document.cookie = "categoryList="+JSON.stringify(categoryList);
	 document.cookie = "dishList="+JSON.stringify(dishList);
	 document.cookie = "totalCount="+totalcount;
	 document.cookie = "totalPrice="+totalprice;
     totalprice = totalprice.toFixed(2);
     try{
	 _q("#totalprice").value = totalprice;
	 _q("#totalpriceshow").innerHTML = totalprice;
	 _q("#totalcount").value = totalcount;
	 _q("#totalcountshow").innerHTML = totalcount;
	 changeBtnSelect();
	 }
	 catch(e){;}
	 
	}
	
	
	$('.popupWindow .close').click(function(){
	 $('#popContent').html('');
	 $('.mModal1,.popupWindow').hide();
	})
    var view_const_dish_SPECIAL_PRICE_YES = '2';
    var view_const_dish_SPECIAL_PRICE_VIP = '3';
    var view_const_dish_HOT_YES = '2';
    function setHeight(){
        var  cHeight;
        cHeight = document.documentElement.clientHeight;
        cHeight = cHeight  -65 -$('.ddb-nav-header').height()+"px";//$('#infoSection').offset().top +"px";
        document.getElementById("navBar").style.height =  cHeight;
        document.getElementById("infoSection").style.height =  cHeight;
		$('.shopInfoList').height(cHeight);
    }


    //点击促发弹层事件
    function showPicInfo(){
        var links = _qAll(".dataIn"), i=0;
        for(i;i<links.length;i++){
            links[i].onclick=function(event){
                event.stopPropagation();
                // dl
                var parentDl = this.parentNode.parentNode;
                var childImg = this.childNodes[0]
                if(childImg.nodeType == 3){
                    childImg = this.childNodes[1];
                }

                var dSpecialPrice = parentDl.getAttribute('dSpecialPrice');

                if (dSpecialPrice != '') {
                    dSpecialPrice = parentDl.getAttribute('dSpecialPrice') + '元/' + parentDl.getAttribute('dunitName');
                }

                popPic(childImg.src,
                        parentDl.getAttribute('dname'),
                        parentDl.getAttribute('dprice') + '元/' + parentDl.getAttribute('dunitName'),
                        parentDl.getAttribute('dIsSpecial'),
                        dSpecialPrice,
                        parentDl.getAttribute('dsubCount'),
                        parentDl.getAttribute('dtaste'),
                        parentDl.getAttribute('ddescribe'),
                        parentDl.getAttribute('dishot'),
						parentDl.getAttribute('dmarkNum')
                );
            }
        }
    }
    //后台可自行扩展参数
    //调用自定义弹层
    function popPic(imgUrl,title,price, isSpecial, specialPrice, people,teast,assess,isHot,dmarkNum){
        var _title = title,
            _price = price,
            _people = people,
            _teast = teast,
            _assess = assess;

        var hotHtml = '';
        if (isHot == view_const_dish_HOT_YES) {
            hotHtml = '<b></b>';
        }
            _tmpHtml = "<div class='content'>"+hotHtml+"<img src='"+imgUrl+"' alt='' title=''><h2>"+_title;


             if (specialPrice != '') {
                 _tmpHtml += "<i>"+specialPrice+"</i>";
             } else {
                 _tmpHtml += "<i>"+_price+"</i>";
             }

            if (_people) {
                _tmpHtml += "<span>"+_people+"人点过</span>";
            }
            _tmpHtml += "</h2>";

            if (_teast) {
                _tmpHtml += "<h3>口味："+_teast+"</h3>";
            }

            if (_assess) {
                _tmpHtml += "<p>"+_assess+"</p>";
            }
            
			if(dmarkNum){
			_tmpHtml += "<h2>查看所有评论("+dmarkNum+")</h2>";
			}
            _tmpHtml += '</div>';
            MDialog.popupCustom(_tmpHtml,true, function(){}, true);
    }

    
         function get_cookie(Name) {
         var search = Name + "="//查询检索的值
         var returnvalue = "";//返回值
         if (document.cookie.length > 0) {
           sd = document.cookie.indexOf(search);
           if (sd!= -1) {
              sd += search.length;
              end = document.cookie.indexOf(";", sd);
              if (end == -1)
               end = document.cookie.length;
               //unescape() 函数可对通过 escape() 编码的字符串进行解码。
              returnvalue=unescape(document.cookie.substring(sd, end))
            }
         } 
         return returnvalue;
        }	
		function delCookie(name){//为cookie name
          var date = new Date();
          date.setTime(date.getTime() - 10000);
          document.cookie = name + "=a; expires=" + date.toGMTString();
        }
		
    _onPageLoaded(function(){
        //changeBtnSelect();
        setHeight();
        //doSelect();
        //doSelectBtn();
        showPicInfo();
        //getDishNumOfCategory();
        if(_isIOS){
            _q("#page_allMenu section article").style.overflowY ="scroll";
            _q("#page_allMenu section article").style.minHeight ="85%";
            _q("#page_allMenu section article").style.marginBottom="35px";
        }
		
		
	    (function()
        {
         
		  if(get_cookie('totalPrice') != ''){
           totalPrice = parseFloat(get_cookie('totalPrice'));
	       totalCount = parseFloat(get_cookie('totalCount'));
	       allDishObject = eval('('+ get_cookie('dishList')+')');
	       allDishCategoryList = eval('('+ get_cookie('categoryList')+')');
	       refreshCategoryPrice(allDishCategoryList , allDishObject, totalCount ,totalPrice);
		   }
       })();		
    })
    window.addEventListener('orientationchange', function(){
        setHeight();
    })
	function clearAndGoBack()
	{
	if(get_cookie('totalPrice') != '')
	{
	 MDialog.confirm(
                        '', '                       是否返回上一页？购物车将被清空。' , null,
                        '  确定  ', function(){
                           delCookie('totalPrice');
						   delCookie('totalCount');
						   delCookie('dishList');
						   delCookie('categoryList');
						   history.go(-1);
                        }, null,
                        '  取消  ', null, null,null, true, true
                    );
	  $('.mDialog').attr('style',$('.mDialog').attr('style') + '-webkit-box-sizing:initial;' );
      var left = $('.mDialog').offset().left - 25;	  
      $('.mDialog').attr('style',$('.mDialog').attr('style') + 'left:'+ left+ 'px' );		  
	}
	else
     history.go(-1);	
	}
	function dishScroll()
	{
	//get dock point 
	 var currentScrollTop = $('#infoSection').scrollTop();
	 console.log(currentScrollTop);
	 var topList=Array();
	 $('#pInfo').children('.pTitle').each(function(i,n){
	  if(i==0)
	  topList.push($(n).offset().top);
	  else
	  topList.push($(n).offset().top-topList[0]);
	 });
	 topList[0] = 0;
	 for(var i=topList.length;i>=0;i--)
	 {
	   if(currentScrollTop >= topList[i])
	    {
		 $('.navOption dd').removeClass("active");
	     $('.navOption dd').eq(i).addClass('active');
		 break;
		}
	 }
	 
	}
	window.alert = function(name){
      var iframe = document.createElement("IFRAME");
      iframe.style.display="none";
      iframe.setAttribute("src", 'data:text/plain,');
      document.documentElement.appendChild(iframe);
      window.frames[0].window.alert(name);
      iframe.parentNode.removeChild(iframe);
     };
</script>
</body>
</html>