<html ng-app="diandanbao" class="ng-scope">
<meta charset="utf-8">
<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <title>门店搜索</title>
    <link data-turbolinks-track="true" href="http://tiantianwutuo.top/addons/weisrc_dish/template//mobile/style1/assets/diandanbao/weixin.css?v=1" media="all" rel="stylesheet">
    <style type="text/css">@media screen {
        .smnoscreen {
            display: none
        }
    }
    @media print {
        .smnoprint {
            display: none
        }
    }</style>
</head>
<body>
<!-- ngView:  -->
<div ng-view="" style="height: 100%;" class="ng-scope">
    {php include $this->template($this->cur_tpl.'/_menu');}
    <div id="search-word-page" class="ng-scope">
        <div class="ddb-nav-header search-header">
            <div class="search-input">
                <span class="fa fa-search green voice-input ng-scope" ng-click="startRecord()" ng-if="!is_recording"></span>
                <input type="text" placeholder="输入门店名称" name="word" id="word" class="query-word ng-pristine ng-untouched ng-valid">
            </div>
            <div class="operation-button green search-cancel" onclick="search()">搜索</div>
        </div>
        <div class="main-view">
  
            <div class="keywords-section">
                <div class="keyword ng-binding ng-scope label-green'" onclick="searchword("关键词1");">
                    关键词1
                </div>
                <div class="keyword ng-binding ng-scope label-red'" onclick="searchword("关键词2");">
                    关键词2
                </div>
				<div class="keyword ng-binding ng-scope label-orange'" onclick="searchword(2);">
                    关键词3
                </div>
				<div class="keyword ng-binding ng-scope label-blue'" onclick="searchword(3);">
                    关键词4
                </div>
				<div class="keyword ng-binding ng-scope label-pink'" onclick="searchword(4);">
                    关键词5
                </div>
                <div class="space"></div>
            </div>

            <div class="search-result">

                <a class="list-item ng-binding ng-scope" href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']), true)}">
                    餐厅1
                </a>
                <a class="list-item ng-binding ng-scope" href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']), true)}">
                    餐厅2
                </a>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    function searchword(search) {
        //window.location.href = "{php echo $this->createMobileUrl('search', array(), true)}" + "&searchword=" + search;
    }

    function search() {
        var word = $('#word').val();
        if (word == '') {
            alert('请输入搜索关键字！');
            return false;
        }
        //window.location.href = "{php echo $this->createMobileUrl('search', array(), true)}" + "&searchword=" + word;
    }
</script>
</body>
</html>