body{ margin:0; padding:0; font-family: "Microsoft YaHei","ו",Arial, Helvetica, sans-serif; font-size:0.875em; line-height:1.5em;}

.homeNav:after,.homeNavbk_hbig:after,.homeNavbk_hsmall::after{ content:""; display:table; clear:both}

p,ul,li,a{ padding:0; margin:0;}
li{ list-style:none;}
a{ text-decoration:none;}
em,i{ font-style:normal;}
.banner{ position:relative;}
.banner img{ width:100%;}
.banner .icon-left,.banner .icon-right{ width:44px; height:44px; display:inline-block; position:absolute;}
.banner .icon-left{ background:url(../images/icon_left.png) no-repeat; left:0px; top:48%;}
.banner .icon-right{background:url(../images/icon_right.png) no-repeat; right:0px;top:48%; }
.content{ margin:0px 10px;}
.content ul{ display:box; display:-webkit-box; }
.content li{box-flex:1.0; -webkit-box-flex:1.0; margin:20px 0;}

.banner .am-slider-default .am-direction-nav a.am-prev:before{content:"\f053";}

.banner .am-slider-default .am-direction-nav a.am-next:before {
    content: "\f054";
}
.banner .am-slider-default .am-direction-nav a:before {
    color: #fff;
    font-size: 30px !important;
    text-shadow: 0 0 8px #000;
}

/*.icon-book,.icon-sale,.icon-intro,.icon-member,.icon-tel,.icon-navigation,.icon-order,.icon-activity{width:44px; height:44px; display:inline-block; padding-bottom:10px;}

.icon-book{ background:url(../images/icon_book.png) no-repeat;}
.icon-sale{ background:url(../images/icon_sale.png) no-repeat;}
.icon-intro{ background:url(../images/icon_intro.png) no-repeat;}
.icon-member{ background:url(../images/icon_member.png) no-repeat;}
.icon-tel{ background:url(../images/icon_tel.png) no-repeat;}
.icon-navigation{ background:url(../images/icon_navigation.png) no-repeat;}
.icon-order{ background:url(../images/icon_order.png) no-repeat;}
.icon-activity{ background:url(../images/icon_activity.png) no-repeat;}*/

.icon{width:44px; height:44px; display:inline-block; padding-bottom:10px;background-size: 100% !important;}

.content li a{text-align:center; display:block;}
@media all and (max-device-width:320px){.icon-book,.icon-sale,.icon-intro,.icon-member,.icon-tel,.icon-navigation,.icon-order,.icon-activity{width:40px; height:40px; background-size:40px 40px;}}








.homeAD{ position:relative}
.homeNav:after,.homeNavbk_hbig:after,.homeNavbk_hsmall::after{ content:""; display:table; clear:both}
.homeNav{ background:#000}
.homeNav li{ float:left;}
.homeNav li.wh1{ width:33.3333333%}
.homeNav li.wh2{ width:66.6666666%}
.homeNav li.wh3{ width:99.99999999%}
.homeNavbk_hbig li{ height:120px; border:2px solid #000; border-left:none; text-align:center; background:#99783a;}
.homeNavbk_hbig li:first-child,.homeNavbk_hsmall li:first-child{ border-left:2px solid #000}
.homeNavbk_hbig a{ display:block; height:100%; width:100%}
.homeNavbk_hsmall li{ height:90px;border:2px solid #000;  background:#666;border-top:none; border-bottom:none; width:33.3333%; border-left:none;text-align:center}

.homeNav .piclink { position:relative}
.homeNav .piclink a{ display:block; width:100%; height:100%}
.homeNav .piclink .txt{position:absolute; bottom:0; left:0; width:100%; background:rgba(0,0,0,0.6); color:#fff; line-height:2em; }
.homeNav .piclink img{ position:absolute;top:0;left:0; width:100%; height:100%; }
.homeNav li a{ display:block; color:#fff; padding-top:0.1px}
.homeNav li i{ display:block; width:30px; height:30px; margin:0 auto; margin-top:30px}
.homeNav li i img{ width:30px; height:30px;}

@media all and (min-device-height:567px) {
.homeAD .am-slides li{ height:260px !important; }
.homeAD .am-slides li img{ height:100%}
.homeNavbk_hbig li{height:108px;}	
.homeNavbk_hsmall li{height:90px; }
.homeNavbk_hsmall a{line-height:90px;}
.homeNav li i{margin-top:20px}
}
@media all and (max-device-height:480px)
{
	.homeAD .am-slides li{ height:200px !important; }
	.homeNavbk_hbig li{height:100px;}	
.homeNavbk_hsmall li{height:78px; }
.homeNavbk_hsmall a{line-height:78px;}
.homeNav li i{margin-top:20px}
	
	}
@media all and (min-device-width:321px){
.homeAD .am-slides li{ height:320px !important; }
.homeAD .am-slides li img{ height:100%}
	}

@media all and (device-height:667px){

.homeNavbk_hbig li{height:128px; border:2px solid #000; border-left:none; text-align:center;background:#99783a;}
.homeNavbk_hsmall li{height:90px; line-height:90px;border:2px solid #000; background:#666;border-top:none; border-bottom:none;width:33.3333%;border-left:none; text-align:center}
.homeNav li i{margin-top:30px}
}

@media all and (device-height:736px){
.homeAD .am-slides li{ height:320px !important; }
.homeAD .am-slides li img{ height:100%}		
.homeNavbk_hbig li{height:125px; border:2px solid #000; border-left:none; text-align:center;background:#99783a;}
.homeNavbk_hsmall li{height:100px; border:2px solid #000; background:#666;border-top:none; border-bottom:none;width:33.3333%;border-left:none; text-align:center}
.homeNavbk_hsmall a{line-height:100px;}
.homeNav li i{margin-top:35px}

}
