@charset "utf-8";
/* CSS Document */
body{ background:#000; height:100%;}
.demobgg{  width:100%; height:100%; display: block;background-image:url(../images/ad/home_bodybg-g.png);background-size:100% 100% ;
-webkit-filter:;}
.Navlistbox_g{ width:24%; margin-left:6%; margin-top:6% }
.Navlistbox_g li{ width:100%; position:relative; padding-bottom:100%; margin-bottom:10px; background:rgba(140,140,140,.5);border:1px solid rgba(255,255,255,0.1); border-radius:60%; text-align:center}
.Navlistbox_g a{ display:block; position:absolute; top:16%; width:100%;color:#fff; font-size:12px;text-shadow:0 0 4px #333}
.Navlistbox_g i.icon{ display:block; width:40%; margin:0 auto; margin-bottom:3%}
.Navlistbox_g i.icon img{ width:100%}
.Navlistfooterbox_g{ position:fixed;bottom:3%; right:6%;width:30%;}
.Navlistfooterbox_g li{ background:rgba(30,30,30,.6); width:100%; padding:5px 0; border-radius:20px; margin-bottom:10% ; border:1px solid rgba(255,255,255,0.2)}
.Navlistfooterbox_g li a{ color:#fff; font-size:12px; display:block; text-align:center; text-shadow:0 0 4px #333}

